<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    div {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<body>
    <div>
        <img src="<%= qrDataURL %>" alt="">
    </div>
</body>


<script>
    function poll() {
        // Send an HTTP request to the URL
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/auth/kiosk/agent-status');
        xhr.send();

        // Process the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                window.location.href = "/kiosk"
            }
        };
    }

    // Poll the URL every 1000 milliseconds (1 second)
    setInterval(poll, 1000);
</script>

</html>