<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>wait user</h1>

    <img src="<%= qrDataURL %>" alt="">
</body>


<script>
    function poll() {
        // Send an HTTP request to the URL
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/auth/kiosk/user');
        xhr.send();

        // Process the response
        xhr.onload = function() {
            console.log(xhr.status)
            if (xhr.status === 200) {
                window.location.href = "/kiosk"
            }
        };
    }

    // Poll the URL every 1000 milliseconds (1 second)
    setInterval(poll, 1000);
</script>

</html>