<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://js.tosspayments.com/v1"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>

<body>
    <main>
        <h3>안녕하세요
            <%= user.username %>님</h3>
        <button id="registerCardBtn">카드 등록</button>
        <button onclick="location.href='/user/qr'">키오스크에 로그인</button>
    </main>
</body>

<script>
    var clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
    var tossPayments = TossPayments(clientKey) // 클라이언트 키로 초기화하기

    const registerCardBtn = document.querySelector('#registerCardBtn');
    registerCardBtn.addEventListener("click", () => {
        tossPayments.requestBillingAuth('카드', { // 결제 수단 파라미터
            // 빌링키 발급 요청을 위한 파라미터
            customerKey: "<%= user.id %>",
            successUrl: 'http://localhost/user/payments/toss/billing_auth/success',
            failUrl: 'http://localhost/user/payments/toss/billing_auth/fail',
        })
    })
</script>

</html>